<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">
              Create Event -
            </h4>
          </div>
          <div class="card-body">
            <form [formGroup]="register" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="bmd-label-floating">Event Type ID</label>
                    <input
                      formControlName="eventTypeId"
                      type="number"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">World ID</label>
                    <input
                      formControlName="worldId"
                      type="number"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Name</label>
                    <input
                      formControlName="name"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Short Description</label>
                    <input
                      formControlName="shortDescription"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Long Description</label>
                    <input
                      formControlName="longDescription"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Visibility</label>
                    <input
                      formControlName="visibility"
                      type="number"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Start Date</label>
                    <mat-form-field>
                      <input
                        matInput
                        [matDatepicker]="pickerSD"
                        (click)="pickerSD.open()"
                        formControlName="startDate"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerSD"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #pickerSD></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">End Date</label>
                    <mat-form-field>
                      <input
                        matInput
                        [matDatepicker]="pickerED"
                        (click)="pickerED.open()"
                        formControlName="endDate"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerED"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #pickerED></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Organizer Url</label>
                    <input
                      formControlName="organizerUrl"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Capacity</label>
                    <input
                      formControlName="capacity"
                      type="number"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <button
                mat-raised-button
                type="submit"
                class="btn btn-rose pull-right"
              >
                Create
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
